.clearfix::after,
section::after,
footer::after {
  content: "";
  display: block;
  clear: both;
}

.portfolio__port-item {
  width: 100%;
  position: relative;
}

.portfolio__port-item img {
  display: block;
}

.portfolio__port-desc {
  position: absolute;
  z-index: 100;
  bottom: 0em;
  left: 0em;
  right: 0em;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  padding-bottom: 2em;
}

.portfolio__port-desc p {
  margin: 1em;
}

.portfolio__port-desc span {
  font-size: 0.7em;
}

@media (min-width: 37rem) {
  .portfolio__port-item {
    float: left;
  }
}

@media (min-width: 60rem) {
  .portfolio__port-item {
    overflow: hidden;
  }

  .portfolio__port-desc {
    transform: translateY(50%);
  }

  .portfolio__port-item:hover .portfolio__port-desc {
    transform: translateY(0%);
  }

  .portfolio__port-item:hover img {
    transform: scale(1.1, 1.1);
    transition: transform ease-in-out 5000ms;
  }
}

/* Buttons */

.btn {
  display: inline-block;
  font-size: 1.15rem;
  text-decoration: none;
  text-transform: uppercase;
  border-width: 2px;
  border-style: solid;
  padding: 0.5em 1.75em;
  box-shadow: 0 0 1em 0 rgba(31, 68, 99, 0.55);
  margin: 10px;
}

@media (min-width: 60rem) {
  .btn {
    font-size: 1.5rem;
  }
}

.btn-small {
  font-size: 0.7rem;
  font-weight: 700;
  box-shadow: 0 0 3em 0 rgba(0, 244, 255, 0.55);
}

.btn-accent {
  color: #00f4ff;
  border-color: #00f4ff;
  box-shadow: 0 0 3em 0 rgba(0, 244, 255, 0.55);
}

.btn-accent:hover,
.btn-accent:focus {
  background: #00f4ff;
  color: #1f4463;
}

.btn-dark {
  color: #1f4463;
  border-color: #1f4463;
}

.btn-dark:hover,
.btn-dark:focus {
  background: #1f4463;
  color: #00f4ff;
}

.gallery__close-btn {
  padding: 10px;
}
