.cta {
  text-align: center;
  padding: 5em 0;
  background: #606060;
  color: #e8e9eb;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cta h2 {
  color: #e8e9eb;
  max-width: 80vw;
}

.cta a {
  text-decoration: none;
  margin-top: 1em;
  background: transparent;
  border: 3px solid #03afc2;
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  color: white;
  text-transform: uppercase;
  line-height: 1;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  padding: 0.5em 1.5em;
  cursor: pointer;
  max-width: 60vw;
}

.cta a:hover {
  background: #03afc2;
  color: white;
}
