@import url("https://fonts.googleapis.com/css?family=Merriweather:400,900|Six+Caps");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all ease-in-out 250ms;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  color: #606060;
  font-family: "Merriweather", serif;
  line-height: 1.6;
  font-size: 0.875rem;
  background: white;
  overflow-x: hidden;
}

@media (min-width: 50em) {
  body {
    font-size: 1.25em;
  }
}

img {
  max-width: 100%;
}

h1,
h2,
p {
  margin-top: 0;
  margin-bottom: 1em;
}

h1 {
  color: #03afc2;
  line-height: 1;
  font-size: 3.125rem;
}

@media (min-width: 50em) {
  h1 {
    font-size: 4.25rem;
  }
}

h2 {
  font-size: 2rem;
  letter-spacing: 0.15em;
  color: #606060;
  text-transform: uppercase;
  line-height: 1;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
}

@media (min-width: 50em) {
  h2 {
    font-size: 3rem;
  }
}

figure {
  margin: 0;
}

.scroll-top {
  filter: invert(100%);
  transform: rotate(-90deg);
  width: 1.5rem;
  padding: 10px;
}

.scroll-top-container {
  border: 1px solid #223843;
  background: #03afc2;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  border-radius: 50%;
  opacity: 0.7;
  display: grid;
  place-items: center;
}

.hide {
  display: none;
}

@media (min-width: 50em) {
  .scroll-top-container {
    display: none;
  }
}
