.intro {
  color: rgba(255, 255, 255, 0.7);
  display: flex;
}

.intro h2 {
  color: #e8e9eb;
  text-transform: capitalize;
}

.intro h2::after {
  content: "";
  width: 20%;
  height: 1px;
  background: rgba(255, 255, 255, 0.5);
  display: block;
  margin: 1em auto 0;
}

@supports (display: grid) {
  .intro {
    display: grid;
    grid-template-columns: minmax(4em, 1fr) minmax(auto, 30em) minmax(4em, 1fr);
  }
}

.intro-middle {
  background: #223843;
  padding: 2.5em 5vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro-left img,
.intro-right img {
  object-fit: cover;
  min-height: 100%;
  min-width: 100%;
  display: block;
}

.intro-social-icons {
  /* width: 90%; */
  /* max-width: 15em; */
  display: flex;
  justify-content: center;
  margin: 1em auto;
}

.intro-social-icon {
  margin: 0 0.3em;
}

.intro-social-icon img {
  filter: invert(30%);
}

.intro-social-icon img:hover {
  filter: invert(0);
}

@media (max-width: 50em) {
  .intro-social-icon img {
    width: 70%;
  }
}
