.announcement {
  display: grid;
  place-items: center;
  background: #03afc2;
  color: rgba(255, 255, 255, 0.8);
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}

.announcement p {
  margin: 0;
  font-size: 0.8rem;
  padding: 20px;
}

.announcement .announcement-button {
  position: absolute;
  background: transparent;
  border: 0;
  right: 1%;
  bottom: 5%;
  padding: 0;
  cursor: pointer;
}

@media (min-width: 50em) {
  .announcement p {
    font-size: 1rem;
    padding: 0;
  }

  .announcement .announcement-button {
    right: 0;
    cursor: pointer;
  }
}
